<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body class="login">
    <header class="header">
        <div class="header-top-area">
            <div class="header__logo">
                <a href="/home"><img src="/img/logo-mercado-liebre.svg" alt="Logo ML"></a>
            </div>
            <form class="header-search">
                <input class="header-search__input" type="text" placeholder="Buscar productos, marcas y más">
                <button class="header-search__button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="header-payqoutes">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <div class="header-bottom-area">
            <div class="burger-menu">
                <button onclick="document.querySelector('.header-nav').classList.toggle('showMenu')"
                    class="burger-menu__button" href=""><i class="fas fa-bars burger-menu__i"></i></button>
            </div>
            <nav class="header-nav">
                <ul class="header-nav__list-left">
                    <li class="list-left__item">
                        <a class="header-nav__link" href="#">Ofertas</a>
                    </li>
                    <li class="list-left__item">
                        <a class="header-nav__link" href="#">Tiendas Oficiales</a>
                    </li>
                    <li class="list-left__item">
                        <a class="header-nav__link" href="#">Vender</a>
                    </li>
                    <li class="list-left__item">
                        <a class="header-nav__link" href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class="header-nav__list-right">
                    <li class="list-right__item">
                        <a class="header-nav__link" href="/register">Creá tu cuenta <i
                                class="fa-regular fa-id-card"></i></a>
                    </li>
                    <li class="list-right__item">
                        <a class="header-nav__link" href="/login">Ingresá <i
                                class="fa-solid fa-right-to-bracket"></i></a>
                    </li>
                    <li class="list-right__item">
                        <a class="header-nav__link" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="login__main">
        <div class="main-container">
            <form class="login__form" action="/">
                <h3>Ingresar</h3>
                <input type="text" placeholder="Nombre y Apellido" id="nombreApellido" required>
                <input type="text" placeholder="Nombre de usuario" name="user" id="nombreUsuario" required>
                <button class="form__button" type="submit">Enviar</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <i class="fa-solid fa-credit-card footer-section__i footer-section__i--blue"></i>
                <h3 class="footer-section__h3">Pagá con tarjeta o en efectivo</h3>
                <p class="footer-section__p">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section class="footer-section">
                <i class="fa-solid fa-gift footer-section__i footer-section__i--blue"></i>
                <h3 class="footer-section__h3">Envío gratis desde $ 2.500</h3>
                <p class="footer-section__p">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section class="footer-section">
                <div>
                    <i class="fa-solid fa-user-shield footer-section__i footer-section__i--blue"></i>
                </div>
                <h3 class="footer-section__h3">
                    Seguridad, de principio a fin
                </h3>
                <p class="footer-section__p">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
            <section class="footer__copyright">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </section>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</body>

</html>