.footer {
    text-align: center;
    padding: 10px;
    color: var(--grisOscuro);
    background-color: white;
}

.footer-section {
    /* color:var(--grisClaro); */
    text-align: center;
}

.footer-section__i {
    font-size: 2em;
    margin: 10px;
    color: var(--azul);
}

.footer-section__i--blue {
    color: var(--celeste);
}

.footer-section__h5{
    margin-top: 2rem;
}