:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #00a650;
  --fontSizeText: 12px;
  --fontSizeTitle: 1.5rem;
  --fontSizePrice: 18px;
  --fontSizeDescuento: 1rem;
  --fontSizeDescription: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
